In [20]:
numbers = [i for i in range(5, 201, 5)]
print(numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200]

In [30]:
import numpy as np
grades = np.array(numbers)
print(grades)

[  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90
  95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180
 185 190 195 200]

In [23]:
study_minutes = [i for i in range(5, 201) if i % 5 == 0]
student_data = np.array([study_minutes, grades])
print(student_data)

[[  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90
   95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180
  185 190 195 200]
 [  5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90
   95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175 180
  185 190 195 200]]

In [24]:
student_data[0][5]

np.int64(30)

In [25]:
avg_minutes = student_data[0].mean()
avg_grade = student_data[1].mean()
print(f"Average Study Minutes: {avg_minutes}, Average Grade: {avg_grade}")

Average Study Minutes: 102.5, Average Grade: 102.5

In [31]:
import pandas as pd
data_student = pd.DataFrame({
    "student_names": [f"Student {i}" for i in range(1, 41)],
    "Study Minutes": student_data[0],
    "Grades": student_data[1]
})
print(data_student)

   student_names  Study Minutes  Grades
0      Student 1              5       5
1      Student 2             10      10
2      Student 3             15      15
3      Student 4             20      20
4      Student 5             25      25
5      Student 6             30      30
6      Student 7             35      35
7      Student 8             40      40
8      Student 9             45      45
9     Student 10             50      50
10    Student 11             55      55
11    Student 12             60      60
12    Student 13             65      65
13    Student 14             70      70
14    Student 15             75      75
15    Student 16             80      80
16    Student 17             85      85
17    Student 18             90      90
18    Student 19             95      95
19    Student 20            100     100
20    Student 21            105     105
21    Student 22            110     110
22    Student 23            115     115
23    Student 24            120     120
24    Student 25            125     125
25    Student 26            130     130
26    Student 27            135     135
27    Student 28            140     140
28    Student 29            145     145
29    Student 30            150     150
30    Student 31            155     155
31    Student 32            160     160
32    Student 33            165     165
33    Student 34            170     170
34    Student 35            175     175
35    Student 36            180     180
36    Student 37            185     185
37    Student 38            190     190
38    Student 39            195     195
39    Student 40            200     200

In [32]:
data_student.loc[0]

student_names    Student 1
Study Minutes            5
Grades                   5
Name: 0, dtype: object

In [35]:
grade_results = pd.read_csv("student_data.csv")
print(grade_results)

   student_name  student_marks student_grades  hours_study
0         Alice             40              D     3.333333
1         Brian             41             D+     3.250000
2       Cynthia             42              C     3.166667
3         David             43              C     3.083333
4        Evelyn             44             C+     3.000000
5         Frank             45             C+     2.916667
6         Grace             46              B     2.833333
7         Henry             47              B     2.750000
8         Irene             48             B+     2.666667
9         James             49             B+     2.583333
10        Kevin             50             A-     2.500000
11        Linda             51             A-     2.416667
12      Michael             52              A     2.333333
13        Nancy             53              A     2.250000
14       Oliver             54              A     2.166667
15     Patricia             55             B+     2.083333
16       Quincy             56              B     2.000000
17       Rachel             57              B     1.916667
18       Samuel             58             C+     1.833333
19       Teresa             59             C+     1.750000
20         Umar             60              C     1.666667
21     Victoria             61              C     1.583333
22      William             62             D+     1.500000
23       Xavier             63             D+     1.416667
24       Yvonne             64              D     1.333333
25      Zachary             65              D     1.250000
26        Amina             66              A     1.166667
27          Ben             67              A     1.083333
28        Carol             68             A-     1.000000
29       Dennis             69             A-     0.916667
30       Esther             70             B+     0.833333
31        Felix             71             B+     0.750000
32       Gloria             72              B     0.666667
33       Hassan             73              B     0.583333
34          Ivy             74             C+     0.500000
35         John             75             C+     0.416667
36        Karen             76              C     0.333333
37          Leo             77              C     0.250000
38         Mary             78             D+     0.166667
39         Noah             79             D+     0.083333